*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw !important; 
    height: 100vh !important;
    background-image: url(../img/back-ground.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
    color: inherit;
}

.row{
    margin: 0 !important;

}

.meu-input{
    height: 8vh;
    background-color: rgba(0, 0, 0, 0.267) !important;
    color: #858585;
}

.meu-input::placeholder{
    color:#858585;
}

.meu-input.destaque{
    color: #858585;
}


.meu-pt{
    padding-top: 23%;
}

#entrar{
    width: 100%;
    height: 10vh;
}
.meu-btn{
    background-color: #6719A4;
    stroke: none;
    color: #fff;
    border-radius: 13px;
}

.meu-h1{
    font-size: 3.5rem;
}

nav{
    background-color: #444444 !important;
    border-bottom: solid #000;
}

#mais{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

.minha-fonte{
    font-family: Jura; font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
}

#listaSalas{
    margin-top: 3%;
}

.linha{
    width: 100%;
    border-bottom: 2px solid #000000;
    margin-top: 2%;
    margin-bottom: 2%;
}

.cadeado{
    width: 50px;
    max-width: 100%;
}