*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw !important; 
    height: 100vh !important;
    background-image: url(../img/back-ground.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
    color: inherit;
}

.m0{
    margin: 0;
    padding: 0;
}

.row{
    margin: 0 !important;

}

.meu-input{
    height: 8vh;
    background-color: rgba(0, 0, 0, 0.267) !important;
    color: #ffffff;
}

.meu-input::placeholder{
    color:#858585;
}

.meu-input.destaque{
    color: #858585;
}


.meu-pt{
    padding-top: 25%;
}

#entrar{
    width: 100%;
    height: 10vh;
}
.meu-btn{
    background-color: #6719A4;
    stroke: none;
    color: #fff;
    border-radius: 13px;
}

.meu-h1{
    font-size: 3rem;
}

nav{
    background-color: #444444 !important;
    border-bottom: solid #000;
}

header{
    position: fixed;
    z-index: 9999;
}

.mais{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

.minha-fonte{
    font-family: Jura; 
    font-style: normal; 
    font-variant: normal; 
    font-weight:lighter; 
    line-height: 26.4px;
}

#listaSalas{
    margin-top: 3%;
}

.linha{
    width: 100%;
    border-bottom: 2px solid #000000;
    margin-top: 2%;
    margin-bottom: 2%;
}

.cadeado{
    width: 50px;
    max-width: 100%;
}

.minha-margemtop{
    margin-top: 10%;
}

#checkbox{
    accent-color: #4E008A;
}

#minha-mensagem{
    width: 100vw;
    z-index: 9999;
    position: fixed;
    bottom: 0;
}

#minha-imagem{
    width: 3vw;
    max-width: 100%;
    height: auto;
}

#candido{
    width: 40vw;
    height: 55vh;
    
    animation: girar 3s linear infinite;
}

@keyframes girar {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }